body{
    background-color: darkorange;
}
h1{
    text-align: center;
    color: aliceblue;
    background-color: brown;
    border: 10px solid red;
}
img{
    margin-left: 850px;
}
p{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background-color: coral;
    border: 10px solid chocolate;
}
z{
    font-size: 30px;
    color: aliceblue;
    background-color: brown;
    border: 10px solid red;
}
ul{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    color: blueviolet;
    background-color: brown;
    border: 10px solid red;
}